 /* swiper */
     
       /* card slider */
       @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

       
       
       .slide-container {
           max-width: 1120px;
           width: 100%;
           padding:40px 0;
       }
       
       .slide-content {
           margin: 0 40px;
           overflow: hidden;
           border-radius: 25px;
       }
       
       .card {        
           border-radius: 25px;
           background-color: #fff;
       }
       
       .image-content, .card-content {
           display: flex;
           flex-direction: column;
           align-items: center;
           padding: 10px 14px;
       }
       
       .image-content {
           position: relative;
           row-gap: 5px;
           
       }
       .overlay {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: #4070f4; 
          border-radius: 25px 25px 0 25px;
       }
    
    .overlay::before, 
    .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
    }
    .overlay::after{
        border-radius: 0 25px 0 0;
        background-color: #fff;
    }
       

       
       
       .card-image {
           position: relative;
           height: 150px;
           width: 150px;
           border-radius: 50%;
           background: #fff;
           padding: 3px;
       }
       
       .card-image .card-img {
           height: 100%;
           width: 100%;
           object-fit: cover;
           border-radius: 50%;
           border: 4px solid #4070f4;
       }
       
       .name {
           font-size: 18px;
           font-weight: 500;
           color: #333;
       }
       
       .description {
           font-size: 14px;
           color: #707070;
           text-align: center;
       }
       
       .button {
           border: none;
           font-size: 16px;
           color: #fff;
           padding: 8px 16px;
           background-color: #4070f4;
           border-radius: 6px;
           margin: 14px;
           cursor: pointer;
           transition: all 0.3s ease;
       }
       
       .button:hover {
           background: #265df2;
       }
       
       .swiper-navBtn {
           color: #6e93f7;
           transition: color 0.3s ease;
       }
       
       .swiper-navBtn:hover {
           color: #4070f4;
       }
       
       .swiper-navBtn::before,
       .swiper-navBtn::after {
           font-size: 40px;
       }
       
       .swiper-button-next {
           right: 0;
       }
       
       .swiper-button-prev {
           left: 0;
       }
       
       .swiper-pagination.bullets {
           background-color: #6e93f7;
           opacity: 1;
       }
       
       .swiper-pagination.bullets.active {
           background-color: #6e93f7;
       }
       
       @media screen and (max-width: 768px) {
           .slide-content {
               margin: 0 10px;
           }
           .swipper-navBtn {
               display: none;
           }
       }      
    
        /* end */

        /* carousels */
.carousel-inner img {
    max-height: 450px; /* Ubah sesuai kebutuhan ukuran yang diinginkan */
    width:auto;
    margin: 0 auto; /* Untuk memastikan gambar terpusat */
    border-radius: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px; /* Lebar tombol geser */
    height: 50px; /* Tinggi tombol geser */
    border-radius: 50%; /* Membuat tombol geser menjadi lingkaran */
    background-color: rgba(255, 255, 255, 0.5); /* Warna latar belakang tombol geser */
    border: none; /* Menghapus border tombol */
    top: 50%; /* Menempatkan tombol geser di tengah vertikal */
    transform: translateY(-50%); /* Menyesuaikan posisi tombol geser */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Ubah warna latar belakang ikon */
    color: white; /* Ubah warna ikon */
    width: 25px; /* Lebar ikon */
    height: 25px; /* Tinggi ikon */
    border-radius: 50%; /* Membuat ikon menjadi lingkaran */
}

.carousel-control-prev {
    left: 0; /* Menempatkan tombol geser prev di sebelah kiri */
}

.carousel-control-next {
    right: 0; /* Menempatkan tombol geser next di sebelah kanan */
}
.carousel-img {
    object-fit: cover;
    height: 300px; /* Atur tinggi sesuai kebutuhan Anda */
}
.hero-header {
    margin-top: 50px; /* Ubah nilai sesuai kebutuhan */
}



/* end */

/* scroll button to top */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    color: #605DEC;
    border: 2px solid #605DEC;
    /* Mengubah ke bentuk outline dengan ketebalan garis 2px */
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #605DEC;
    /* Warna background saat di hover */
    color: white;
    /* Warna teks saat di hover */
}

/* end */

/* navbar */
.card-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 30px;
    /* Bagian Container diawal beranda */
}
.container-fluid.hero-header {
    margin-top: 80px; /* Atur nilai margin top sesuai kebutuhan */
}


.navbar-btns button {
    margin-right: 5px;
    /* */
}

.card {
    margin-bottom: 10px;
    /* */
}

.icon-large {
    font-size: 30px;
    /* Penyesuaian icon nya */
}

@media (max-width: 1024px) {
    .hero-header .col-lg-6 {
        text-align: center;
    }

    .hero-header .col-lg-6 img {
        margin-top: 20px;
        /* */
    }
}

@media (max-width: 768px) {
    .hero-header .col-lg-6 img {
        width: 70%;
        /* */
    }
}

@media(max-width:500) {}

.small-font {
    font-size: 0.75rem;
    /* */
}
.navbar-nav {
    margin-right: 20px;
    /* Atur jarak kanan */
}

.navbar-nav .nav-item {
    margin-right: 20px;
    /* Atur jarak antara setiap item */
}


/* end */

/* card pada content 3 */
.card.custom-card {
    border: none; /* Menghilangkan border */
}
.btn-custom{
font-size: 1.15rem; /* Sesuaikan ukuran font */
padding: 3px 30px; /* Sesuaikan ukuran padding */
}
/* end */